:root {
  --color-background-cream: #fcf3ea; 
  --color-primary-green: #6da676;    
  --color-dark-green: #47644a; 
  --color-text-charcoal: #3D332F;    
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--color-background-cream);
}

a {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

h1 {
    font-family: 'Pacifico', sans-serif;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

/* <weight>: Use a value from 100 to 900 <uniquifier>: Use a unique and descriptive class name  */

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}