:root {
  --color-background-cream: #fcf3ea;
  --color-primary-green: #6da676;
  --color-dark-green: #47644a;
  --color-text-charcoal: #3d332f;
}

.navbar__icon {
  height: 40px;
  width: auto;
  align-self: center;
  margin: 0;
}

.navbar__logo {
  color: var(--color-dark-green);
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

.navbar__brand {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.navbar__list {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 12px;
}

.navbar__item {
  display: inline-block;
}

.navbar__link {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: var(--color-primary-green);
  transition: all 0.3s ease-in-out;
  font-style: italic;
}

.navbar__link__active {
  display: block;
  text-align: center;
  padding: 14px 16px;
  background-color: var(--color-primary-green);
  border: 1px solid var(--color-dark-green);
  border-radius: 15px;
  text-decoration: none;
  color: var(--color-background-cream);
  font-weight: bold;
}

.navbar__link:hover {
  transition: all 0.3s ease-in-out;
  border-radius: 25px;
  text-shadow: 0px 0px 1px var(--color-accent-terracotta);
  font-weight: bold;
}

.add-card {
  border: 1px solid var(--color-dark-green);
  background-color: var(--color-dark-green);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.add-card h2 {
  padding: 12px;
  color: var(--color-background-cream);
  transition: color 0.5s ease;
}

.add-card__icon {
  padding: 1.5rem;
  font-size: 6rem;
  color: var(--color-background-cream);
  margin-bottom: 1rem;
  transition: color 0.5s ease;
}

.add-card:hover {
  background-color: var(--color-dark-green);
  transition: all 0.5s ease;
  transform: translate3D(0, -1px, 0) scale(1.03);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border: var(--color-dark-green);
}

.add-card:hover h2 {
  color: var(--color-background-cream);
  transition: all 0.3s ease;
}

.plus-icon {
  padding: 1.5rem;
  font-size: 6rem;
  color: var(--color-background-cream);
  margin-bottom: 1rem;
}

#close_modal_btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
}

.plant-card {
  background-color: var(--color-primary-green);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Ensures image corners are rounded */
  display: flex; /* Use flexbox to arrange content INSIDE the card */
  flex-direction: column;
  justify-content: space-between; /* Pushes button to bottom if content varies */
  transition: all 0.5s ease;
  cursor: pointer;
}

.plant-card__img {
  width: 100%;
  height: 250px;
  padding: 15px;
  object-fit: cover;
  display: block;
  border: 2px var(--color-dark-green);
  overflow: hidden;
}

.plant-card h3 {
  color: var(--color-background-cream);
  font-weight: bold;
  padding: 15px;
  margin-bottom: 0;
  font-size: 1.2em;
}

.plant-card p {
  color: var(--color-dark-green);
  font-style: italic;
  padding: 0 15px 15px;
  font-size: 1em;
  flex-grow: 1;
}

.plant-card a {
  color: inherit;
  text-decoration: none;
  transition: all 0.5s ease;
}

.plant-card a:visited {
  color: inherit;
}

.plant-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transform: translate3D(0, -1px, 0) scale(1.03);
  background-color: var(--color-primary-green);
  color: var(--color-background-cream);
  transition: all 0.3s ease;
}

.plant-card:hover a {
  color: var(--color-background-cream);
}
