.dashboard-layout__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px; /* Space between cards */
    padding: 20px; /* Padding around the whole grid */
    max-width: 1200px; /* Max width for the grid */
    margin: 0 auto; /* Center the grid */
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none; 
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
}
